.column.contenido {
    background: #fde04c;
    position: absolut;
}

.column.contenido h1 {
    color: #000;
    font-size: 2em;
}

.column.contenido h2 {
    color: #222;
}

.column.contenido p {
    color: #444;
}

.lni-angle-double-right {
    cursor: pointer;
    transition: all 1s;
}

.lni-angle-double-right:hover {
    color: red;
}

.picture {
    background: #000000;
    height: 250px;
    width: 250px;
    margin: 20px;
    border-radius: 50%;
    border: 10px solid #fff;
}