.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    transition: all 1s;
    font-weight: 100;
}

.menu a:hover {
    color: #cccccc;
}
