.ps h1 {
    text-align: left;
    color: #333333;
    font-weight: 900;
    padding: 10px 0;
}

.ps p {
    text-align: left;
    color: #111;
    font-weight: 100;
    padding: 10px 0;
    font-size: 1rem;
    text-align: justify;
}