@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');

body {
  margin: 0;
  font-family: 'Big Shoulders Text', sans-serif;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
